.fondo {
	background-image: url("../img/parallax-1.jpg");
	background-size: cover;
	width: 100%;
}

.fondo-dos {
	background-image: url("../img/parallax-3.jpg");
	background-size: cover;
	width: 100%;
}